[class*="col-"] {
    width: 100%;
  }
  
.row {
    display: block;
}

@media screen and (max-width: 575.98px) {
    body {
        width: 98%;
        display: block;
    } 
    #vzdelanie{ 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .bg1, .bg2, .bg3{
        width: 99%;
        height: 300px;
        margin: 0.5%;
        display: flex;
    }
    h2{
        display: block;
        text-align: center;
    }
    #vzdelanie h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    body {
        width: 85%;
        padding-left: 7.5%;
        display: block;
    }
    #vzdelanie{ 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .bg1, .bg2, .bg3{
        width: 99%;
        height: 300px;
        margin: 0.5%;
        display: flex;
    }
    h2{
        display: block;
        text-align: center;
    }
    #vzdelanie h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    body {
        width: 75%;
        padding-left: 12.5%;
    }

    #omne .dosah h3{
        display: inline;
        padding-right: 7px;
    }
    #vzdelanie{ 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }
    .bg1, .bg2{
        width: 49%;
        height: 300px;
        margin: 2rem;
    }
    .bg3{
        width: 99%;
        height: 300px;
        margin: 2rem;
    }
    h2{
        display: block;
        text-align: center;
    }
    #vzdelanie h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    body {
        width: 65%;
        padding-left: 17.5%;
    }
    #omne .dosah h3{
        display: inline;
        padding-right: 7px;
    }
    #vzdelanie{ 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }
    .bg1, .bg2{
        width: 49%;
        height: 300px;
        margin: 2rem;
    }
    .bg3{
        width: 99%;
        height: 300px;
        margin: 2rem;
    }
    h2{
        display: block;
        text-align: center;
    }
    #vzdelanie h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 60%;
        padding-left: 20%;
        display: block;
    }
    #omne .dosah h3{
        display: inline;
        padding-right: 14px;
    }
    .bg1, .bg2, .bg3{
        float: left;
        width: 33.3333%;
        padding-bottom: 6rem;
    }
    h2{
        display: block;
        text-align: center;
    }
} 

body{
    background-color: rgb(185, 55, 55);
}

section{
    margin: 0rem auto 10rem auto;
    border-bottom: 3px solid rgb(119, 6, 6);
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

p, a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 20px;
}

h4, p{
    font-size: 18px;
}

h6{
    font-size: 15px;
    color: red;
}

a:link, a:visited{
    color:black;
}

a:hover {
    color: pink;
}

ul {
    list-style-type:none;
}

.bg1, .bg2, .bg3 {
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 2rem; 
}

.bg1{
    background-image: url("img/zs_kubranska.jpg");
    background-size: cover;
    float:left;
    width: 33.3333%;
}

.zakladna, .stredna, .vysoka{  
    opacity: 0;
}

.bg2{
    background-image: url("img/pgjbtn.jpg");
    background-size: cover;
    float:left;
    width: 33.3333%;
}

.bg3{
    background-image: url("img/fitvut.jpg");
    background-size: cover;
    float:left;
    width: 33.3333%;
}

.bg1:hover, .bg2:hover, .bg3:hover{
    background-image: none;
    background-color: white;
    opacity:0.5;
    transition: 0.5s;
}

.bg1:hover .zakladna, .bg2:hover .stredna, .bg3:hover .vysoka{
    opacity: 1;
}

.bg1, .bg2, .bg3 {
    position: relative;
    text-align: center;
}

.zakladna, .stredna, .vysoka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    text-align: center;
    color: black;
}

#header-menu{
    position: fixed;
    bottom: 70%;
    right: 90%; /*NEDOKONCENE TREBA ASI POUZIT JAVASCRIPT*/
}

.dom:hover .div1{
    animation-name: dom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    width: 50px;
    height: 50px;
    background: black;
    position: relative;
}
.dom:hover .div2{
    animation-name: dom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    width: 0px; 
    height: 0px; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: relative;
    border-bottom: 37.5px solid black; 
}

@keyframes dom {
    0%   {left:0px; top:0px;}
    100%  {left:95%; top:0px;}
}

  